img {
    width: 90px;
    height: 90px;  
    float: left;
    }
    
#idCard {
    border: 5px solid black;    
    height: 14em;
    width: 25em;
    border-radius: 20px;
    margin: 50px, 50px;
    padding: 50px;
    background-color: lightgoldenrodyellow;
    }


h1 {
    text-align: center ;
}


#postFullName {
    font-size: large ;
}

html{
    background-color: lightblue;
    display:flex;
    justify-content: center;
}

label{
    margin:20px;
}

button{
    margin:20px;
}

.form{
    text-align: center;
}